# build artefacts 
/bin/
/build/
/dist/
*.out

# don't need to commit vendor since not a compliance-locked project
/vendor/

# generated protobufs -- commented out, checking these in for now
# *.pb.go

# logs and temp files
*.log
*.tmp
